// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.comment-wrapper {
    width: 50%;
    margin: 10px auto;

    background-color: #e0c9b5;

 }

 h2 {
    
    background-color: #e0c9b5;
    
  
  }

  li {
    
    background-color: #e0c9b5;
    
  
  }