// Place all the styles related to the likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.student {
    width: 50%;
    margin: 10px auto;

    background-color: #e0c9b5;

 }
 